*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background:#efeff2;
  }
.short-title1{
    position: absolute;
    width: 152px;
    height: 27px;
    left: 470px;
    top: 10px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    }
    .title{
    position: absolute;
    width: 288px;
    height: 53px;
    left: 470px;
    top: 70px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #03379D;
    }
    
.paragraph{
position: absolute;
width: 832px;
height: 258px;
left: 500px;
top: 179px;
font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 38px;
}
.paragraph1{
    position: absolute;
    width: 846px;
    height: 114px;
    left: 500px;
    top: 440px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
}