.title3{
position: absolute;
width: 364px;
height: 63px;
left: 500px;
top: 40px;
font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;
color: #03379D;
}
.email-icon{
    position: absolute;
    left: 500px;
    top: 
    bottom: 73.73%;
    background: #E4A951;
}