*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background:#efeff2;
  }
.html-icon{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 500px;
    top: 80px;
    rotate: 270deg;
    }
.js-icon{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 800px;
    top: 80px;
}
.photoshop-icon{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1100px;
    top: 80px;
    }
.java-icon{
position: absolute;
width: 150px;
height: 150px;
left: 557px;
top: 340px;
}
.c-icon{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1006px;
    top: 340px;
}
.html-words{
position: absolute;
width: 222px;
height: 58px;
left: 500px;
top: 250px;
font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 58px;
    }
.js-words{
    position: absolute;
    width: 240px;
    height: 58px;
    left: 810px;
    top: 250px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
}
.ps-words{
position: absolute;
width: 262px;
height: 58px;
left: 1100px;
top: 250px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 58px;
}
.java-words{
    position: absolute;
width: 329px;
height: 116px;
left: 577px;
top: 505px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 58px;

}
.c-words{
    position: absolute;
width: 329px;
height: 116px;
left: 1006px;
top: 505px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 58px;
}