.title{
    position: absolute;
    width: 337px;
    height: 53px;
    left: 450px;
    top: 20px;
    font-family: 'Jacques Francois';
    font-weight: 400;
    font-size: 32px;
    line-height: 63px;
    color: #03379D;
    white-space: nowrap;
}
.char1 img{
    position: absolute;
    top: 120px;
    left:400px;
    height:350px;
    width: 300px;
    display: block;
    
}
#desc{
    position:absolute;
    height:350px;
    width: 400px;
    border:2px solid #03379D;
    top: 120px;
    left: 750px;
    border-radius: 30px;
}
#desc p{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.char2 img{
    display:block;
    position: absolute;
    top: 500px;
    left:400px;
    height:350px;
    width: 300px;
}
.secon_desc{
    position:absolute;
    height:350px;
    width: 400px;
    border:2px solid #03379D;
    top: 500px;
    left: 750px;
    border-radius: 30px;
}
.char3 img{
    display:block;
    position: absolute;
    top: 930px;
    left:400px;
    height:350px;
    width: 300px;
}
.thir_desc{
    position:absolute;
    height:350px;
    width: 400px;
    border:2px solid #03379D;
    top: 930px;
    left: 750px;
    border-radius: 30px;
}
